.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.container input{
    padding: 0;
}

.container1{
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
}

.container1 h5{
    margin: 10px 0 10px 0;
}

.bgorange{
    background: orange;
}

#pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 20px 0;
}


@media only screen and (min-width: 768px)
{
    .container1{ flex-direction: row;}
    .container1 h5{ margin-right: 10px;}

}

